<?xml version="1.0" encoding="UTF-8"?>
<robot name="ezgripper_stand_alone" xmlns:xacro="http://ros.org/wiki/xacro">




<xacro:include filename="$(find ezgripper_description)/urdf/ezgripper_single_mount.urdf.xacro"/>
<!-- Add the gripper -->
<ezgripper_single_mount prefix="left" parent_link="cylinder">
   <origin rpy="0 0 0" xyz="0 0 0"/>
</ezgripper_single_mount>

<link name="world"/>

<joint name="fixed" type="fixed">
  <parent link="world"/>
  <child link="cylinder"/>
</joint>

<link name="cylinder">
   <visual>
       <geometry>
           <cylinder length="0.42" radius="0.02"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.210"/>
        <material name="red"/>
    </visual>

   <collision>
       <geometry>
           <cylinder length="0.42" radius="0.02"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.210"/>
        <material name="red"/>
    </collision>

    <inertial>
      <mass value=".3"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>

</link>

</robot>
